.jumbotron {

    overflow: hidden;
    margin: auto;
    background: rgba(255, 255, 255, 0.5);
    filter: alpha(opacity=50);
    font-family: "Comic Sans MS";
}

.btn-success {

    border-color: dimgray;
    background-color: dimgray;
}

body {
    background: url(https://pixabay.com/get/e033b00728f11c22d9584518a3454f91e07fe6d104b0144290f6c778a6e9bc/birth-961805_1920.jpg) fixed;
    background-position: center;
    background-repeat: no-repeat;

}

a {
    color: black;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {


    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    font-style: italic;
    font-family: "Comic Sans MS";
}

.nav-fill .nav-item {

    font-style: italic;
    font-family: "Comic Sans MS";
}

.lead {

    text-align: justify;
}